# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2
num2 = 5.4 

result = num1 + num2 

print(result)

7.4

##### Subtraction

In [7]:
result_diff = num2 - num1
print(result_diff)

3.4000000000000004

##### Multiplication

In [8]:
result_mul = num1 * num2 
print(result_mul)

10.8

##### Division

In [9]:
result_div = num2/num1
print(result_div)

2.7

##### Floor Division

In [10]:
result_floor = num2 // num1 
print(result_floor)

2.0

##### Modulo

In [14]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [15]:
square = 5 ** 2 
print(square)

25

### String Input-Output

##### String Assignment

In [17]:
name = "Chad"
print(name)

Chad

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print("This is my first name:", name)

print("full name:", name, end=" Moyes")

This is my first name: Chad
full name: Chad Moyes

##### String Concatenation

In [24]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [26]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [27]:
name = input('what is your name?')
print(name)

what is your name?Chaddimus maximus
Chaddimus maximus

##### format()

In [28]:
age = input("what is your age? ")

result_string = "you are {} {} and you are getting wiser".format(age, name)
print(result_string)

what is your age? 15
you are 15 Chaddimus maximus and you are getting wiser

##### Old Way (python 2)

In [29]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

You are 15 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
name = input('what is your name?')
color = input('what color is your car?')
year = input('what year is your car?')
model = input('what model is your car?')
full_result_string = "{} your {} {} color is {}".format(name, year, model, color)
print(full_result_string)

what is your name?Chad
what color is your car?Black
what year is your car?2015
what model is your car?Nissan Sentra's
Chad your 2015 Nissan Sentra's color is Black

### If Statements

In [5]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

# if num1 == 5:
#     print("this is true")
# else:
#     print("that is not true")
    
if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

that is not true

##### 'is' keyword

In [7]:
num3 = 55

if num3 == 55:
    print("this is the exact number/object")

this is the exact number/object

##### 'in' keyword

In [8]:
char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [9]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [5]:
name = input('what is your input?')
print(name)

if "P" in name:
    print("The letter P is here")
else:
    print("The letter P is not here")

what is your input?Penguin
Penguin
The letter P is here

## Using 'and'/'or' with If Statements

In [2]:
num_11 = 15 
num_12 = 3
num_13 = 10
num_14 = 3 
#if with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
#if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [ ]:
first_name = input("what is your name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Chad":
    print("The name is Chad")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

### Else Statements

In [ ]:
# see above

### For Loops

In [3]:
#Syntax 
#for counter in condition

name = "Chad Moyes"
for letter in name:
    print(letter)

C
h
a
d

M
o
y
e
s

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [7]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [8]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [9]:
name = "Chad Moyes"

for i in name:
    pass

##### Double For Loops

In [10]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j,)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [11]:
#Syntax
#while keyword, condition statement

num = 0 
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [14]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop? ")
    if user_input == "yes" or "Yes":
        game_over = False

Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

### Built-In Functions

##### range()

In [1]:
#range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [2]:
name = "max"

length = len(name)
print(length)

3

##### help()

In [4]:
#use this function to view more info on a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [6]:
#isinstance (variable, type)
print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("this is a float")

False
this is a float

##### abs()

In [9]:
#  |-5| = |5|

print(abs(-10))

10

### Try and Except

In [12]:
try:

    input_num = int(input("guess a number! "))
    print("your number is: " + str(input_num))
except:
    print("Oh no! that didn't work, try a number!")

guess a number! 7
your number is: 7

### Lists

##### Declaring Lists

In [2]:
list_1 = []

names = ['Max', 'Cyndi', 'Cathy', 'Bob', 'Nate']
print(names)

['Max', 'Cyndi', 'Cathy', 'Bob', 'Nate']

##### Indexing a List

In [3]:
print(names[0])

print(names[1:])

print(names[:2])

print(names[1::2])

print(names[::-1])

Max
['Cyndi', 'Cathy', 'Bob', 'Nate']
['Max', 'Cyndi']
['Cyndi', 'Bob']
['Nate', 'Bob', 'Cathy', 'Cyndi', 'Max']

##### .append()

In [4]:
names.append("chad")
print(names)

['Max', 'Cyndi', 'Cathy', 'Bob', 'Nate', 'chad']

##### .insert()

In [5]:
names.insert(3, "cannon")
print(names)

['Max', 'Cyndi', 'Cathy', 'cannon', 'Bob', 'Nate', 'chad']

##### .pop()

In [6]:
my_name = names.pop(2)
print(my_name)
print(names)

Cathy
['Max', 'Cyndi', 'cannon', 'Bob', 'Nate', 'chad']


##### .remove()

In [8]:
names.remove("Bob")
print(names)

['Max', 'Cyndi', 'cannon', 'Nate', 'chad']

##### del()

In [9]:
del(names[1])
print(names)

['Max', 'cannon', 'Nate', 'chad']

##### Concatenating Two Lists

In [11]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3 
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
names = ["Joey", "Sam", "Jace", ["Kayla", "Jenna", "Lola"]]
print(names[3][1])

##### Looping Through Lists

In [19]:
for i in range(len(names)):
    print(names[i])
    
for i in names:
    print(i)

Joey
Sam
Jace
['Kayla', 'Jenna', 'Lola']
Joey
Sam
Jace
['Kayla', 'Jenna', 'Lola']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [17]:
#Im not gonna lie I think I did this wrong, I can't seem to find the right way to do it! I know it must be a 
#while loop, but The while loops I have tried kept failing. :(
for i in range(11):
    if i > 1000:
        break
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000

In [4]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def the_prime(n):
    status = True
    if n < 2:
        status = False
    else:
        for i in range(2,n):
            if n % i == 0:
                status = False
    return status

for n in range(1,101):
    if the_prime(n):
        if n==97:
            print (n)
        else:
            print(n,",",)

2 ,
3 ,
5 ,
7 ,
11 ,
13 ,
17 ,
19 ,
23 ,
29 ,
31 ,
37 ,
41 ,
43 ,
47 ,
53 ,
59 ,
61 ,
67 ,
71 ,
73 ,
79 ,
83 ,
89 ,
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [31]:
age = int(input('what is your age?: '))
if age < 18:
        print("Kids")
elif age < 65:
        print("Adults")
else:
        print("Seniors")
print(age)

what is your age?: 72
Seniors
72